
/*BODY*/

body {
    background-color: #F3EDE7;
    color: #595959;
    font-family:"Book Antiqua","Georgia" ,serif;
    font-size: 1.2em;
}

/*HOME*/

div.homeSlideshow{
    height: auto;
    width: 100%;
}

img.homeSlides{
    width: 100%;
    height: auto;
    animation-name: Slideshow;
    animation-duration: 10s;
}


div.container{
    width: 100%;
   margin: 0.5%;
}

div.gallery {
    margin: 2%;
    float: left;
    width: 29%;
    height: auto;
    background-color: whitesmoke;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gallery:hover {
    animation-name: opacityHover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 3%;
    text-align: center;
    color: #595959;
}


@keyframes Slideshow{
    from{ opacity:0;}
    10% { opacity:1;filter: blur(0em)}
    90% { opacity: 1;filter: blur(0em)}
    to {opacity:0; filter: blur(2em)}
}



/*Visualizza Visite-Eventi-Categorie*/


div.conteinerVisite{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

div.galleriaVisite {
    border-top: 15px whitesmoke solid ;
    border-left: 10px whitesmoke solid;
    border-right: 10px whitesmoke solid;
    background-color: whitesmoke;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 6% 17%;
    width: 90%;
    height: auto;
    z-index: -1 ;
    cursor: pointer;
}

div.galleriaVisite:hover {
    animation-name: opacityHover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes opacityHover {
    from{opacity: 1}
    to{opacity: 0.5}
}


div.galleriaVisite img {
    width: 100%;
    height: auto;
    cursor: pointer;
    max-width: 644px;
    max-height: 363px;
}

div.descVisite {
    width: 100%;
    height: auto;
    padding: 3%;
    text-align: center;
    font-size: 150%;
    cursor: pointer;
    color: #595959;
}

div.title{
    text-align: center;
    padding: 0.1%;
    font-size: 200%;
    color: #595959;
    width: 100%;
    height: auto;
}


img.adminPic{
    width: 100%;
    height: auto;
}

/*LOGIN*/

div.login{
    margin: 2% 7% 5%;
    background-color: #F3EDE7;
    color: #595959;
    width: 17em;
    height: auto;
    float:right;
    padding: 2% 3% 3%;
    border-radius: 5%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 120%;
    position: relative;
    opacity: 90%;
}


/*REGISTRAZIONE e MODIFICA PROFILO*/

div.registrazione{
    margin: 1.5% 3% 4%;
    background-color: #F3EDE7;
    color: #595959;
    width: 20em;
    height: auto;
    float:right;
    padding: 1% 4.5% 3%;
    border-radius: 5%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 100%;
    position: relative;
    opacity: 90%;
}


/*Visualizza Elemento*/

div.containerElemento{
    width: 100%;
    margin: 0.5%;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

div.containerElemento img{
    margin: 2%;
    border: 10px;
    float: left;
    width: 45%;
    height: auto;
    background-color: black;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 644px;
    max-height: 363px
}

div.descrizioneElemento
{
    margin: 2%;
    color: #595959;
    width: 45%;
    height: auto;
    float:left;
}

div.scegliElemento{
    float: left;
    color: #595959;
    width: 100%;
    height: auto;
    margin: 2%;
}


/*Carrello E Riepilogo Acquisti*/

div.cart{
    width: 96%;
    height: auto;
    margin: 3% 2%;
    padding: 2% 2% 3%;
    border: 6px solid #8c7c68;
    border-radius: 4%;
}

div.cart img{
    float: left;
    width: 20%;
    height: auto;
    margin-right: 3%;
    min-width: 231px;
    min-height: auto;
}

div.cart ul{
    column-count: 2;
}

img.carrello{
    width: 50%;
    height: auto;
    margin-left:25%;
}


img.riepilogo{
    width: 40%;
    height: auto;
    margin-left:30%;
}

/*Sul Castello*/

div.sulCastello{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 3% 10%;
    float: left;
}

div.testo1{
    width: 55%;
    height: auto;
    margin: auto;
    padding: 2%;
    float:left;
    font-size: 118%;
}

div.testo2{
    width: 55%;
    height: auto;
    margin: auto;
    padding: 2%;
    float:right;
    font-size: 118%;
}

div.sulCastello img{
    width:40% ;
    height: auto;
    margin: auto;
    padding: 3%;
    max-width: 644px;
}

/*responsiveness: togliere i 2 float e diminuire margini e padding*/






div.mapText{

}

div.maps{

}

iframe.google{

}







/*Profilo*/
div.profilo{
    margin: 1.5% 2% 4%;
    background-color: #F3EDE7;
    color: #595959;
    width: 25em;
    height: auto;
    float:left;
    padding: 1% 2% 3%;
    border-radius: 5%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 100%;
    position: relative;
    opacity: 90%;
}