
/*BODY*/

body {
    background-color: #f6f2f0;
    color:#595959;
    font-family:"Book Antiqua","Georgia" ,serif;
    font-size: 1.2em;
    overflow: auto;
}

/*HOME*/

div.homeSlideshow{
    height: auto;
    width: 100%;
}

img.homeSlides{
    width: 100%;
    height: auto;
}



div.container{
    width: 100%;
   margin: 0.5%;
}

div.gallery {
    margin: 2%;
    border: 1px solid #ccc;
    float: left;
    width: 29%;
    height: auto;
}

div.gallery:hover {
    opacity: 50%;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 3%;
    text-align: center;
}

/*Visualizza Visite-Eventi-Categorie*/


div.conteinerVisite{
    width: 100%;
    margin: 0.5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border: black 5px;
}

button.buttonEvent{
    width: auto;
    height: auto;
}


div.galleriaVisite {
    margin: auto;
    border: 3px solid black;
    width: 100%;
    height: auto;
    z-index: -1 ;
    position: relative;
}

div.galleriaVisite:hover {
    opacity: 50%;
}

div.galleriaVisite img {
    width: 100%;
    height: auto;
}

div.descVisite {
    padding: 3%;
    text-align: center;
}
