
/*BODY*/

body {
    background-color: #F3EDE7;
    color: #595959;
    font-family:"Book Antiqua","Georgia" ,serif;
    font-size: 1.2em;
    overflow-x: hidden;
}

hr{
    border-top: 1px;
    border-top: #8c7c68;
    border-top: solid;
}



/*HEADER*/

div.responsiveBar{
    display: none;
    padding: 0;
    background-color: #d9c6b0;
    position: fixed;
    height: 3.13em;
    width: 100%;
    margin: 0;
    z-index: 3;
}

ul.header img.close{
    display: none;
    width: 2em;
    height: 2em;
    margin-right: 2%;
    cursor: pointer;
}

ul.header img.logo{
    width:3em;
    height:3em;
}

ul.header {
    display: block;
    list-style-type: none;
    padding: 0;
    background-color: #d9c6b0;
    position: fixed;
    height: 3.13em;
    width: 100%;
    margin: 0;
    z-index: 2;
}

li{
    font-size: 100%;
}

li.header, .dropdown{
    display: block;
    color: #8c7c68;
    text-align: center;
    text-decoration: none;
    float:left;
}


li a.header:hover, a.dropbtn:hover {
    animation-name: hover1;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes hover1 {
    from{background-color: #d9c6b0}
    to {background-color: #b19d86
    }
}

li a.header, .dropbtn {
    display: inline-block;
    color: #595959;
    text-align: center;
    padding: 1em 1.3em;
    text-decoration: none;
    cursor: pointer;
}


li.dropdown {
    display: inline-block;
    float:right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e9e2db;
    min-width: 10em;
    box-shadow: 0em 0.5em 1em 0em rgba(0,0,0,0.2);
    z-index:1;
}

li a:hover.hover2 {
    animation-name: hover2;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes hover2 {
    from{background-color: #e9e2db}
    to {background-color: #bcad9d
    }
}


.dropdown-content {
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from{opacity: 0}
    to {opacity: 1}
}


.dropdown-content a {
    color: #595959;
    padding: 0.8em 1em;
    text-decoration:none;
    display: block;
    text-align: left;
}


.dropdown:hover .dropdown-content {
    display: block;
}

    @media (max-width: 1100px) {

        ul.header {
            display: none;
            position: fixed;
            top: 0;
            width: 240px;
            left: 0;
            z-index: 100;
            height: 100%;
            box-shadow: 3px 0 5px rgba(0, 0, 0, 0.23);
            background-color: #d9c6b0;
            float:none;
        }
         li.header{
            height: auto;
            display: flex;
            width: 100%;
            float:none ;
            align-content: center;
            text-align: center;

        }
         li.dropdown{
             float:none ;
             align-content: center;
             text-align: center;
             width: 100%;
         }
         a.header, a.dropbtn{
             width: 100%;
         }
         div.dropdown-content
         {
             width: 240px;
         }
         ul.header img.logo{
             display: none;
         }
        ul.header img.close{
            display: block;
           margin-left: 80%;
            margin-top: 3%;
            margin-bottom: 3%;

        }
         div.responsiveBar{
             display: block ;
         }
        }
        div.responsiveDiv {
            cursor: pointer;
        }





/*HOME*/

div.homeSlideshow{
    height: auto;
    width: 100%;
}

img.homeSlides{
    width: 100%;
    height: auto;
    animation-name: Slideshow;
    animation-duration: 10s;
}


div.container{
    width: 100%;
   margin: 0.5%;
}

div.gallery {
    margin: 2%;
    float: left;
    width: 29%;
    height: auto;
    background-color: whitesmoke;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gallery:hover {
    animation-name: opacityHover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 3%;
    text-align: center;
    color: #595959;
}


@keyframes Slideshow{
    from{ opacity:0;}
    10% { opacity:1;filter: blur(0em)}
    90% { opacity: 1;filter: blur(0em)}
    to {opacity:0; filter: blur(2em)}
}

h1.titleHome{
    font-family:'Century Schoolbook',serif;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.75), -3px 10px 12px rgba(0, 0, 0, 0.75);
    font-size:500%;
    text-align: center;
    color:#DCDCDC;
}


@media (max-width: 768px) {
    div.gallery {
        margin: 15%;
        float: none;
        width: 70%;
        height: auto;
        background-color: whitesmoke;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    div.desc {
        padding: 3%;
        text-align: center;
        color: #595959;
        font-size: 200%;
    }

    h1.titleHome {
        font-size: 300%;
        margin-top: 10%;
    }

}


    @media (max-width: 480px) {
        h1.titleHome {
            font-size: 200%;
            margin-top: 30%;
        }

        div.desc {
            padding: 3%;
            text-align: center;
            color: #595959;
            font-size: 135%;
        }
    }

        @media (max-width: 400px) {
            h1.titleHome {
                font-size: 180%;
                margin-top: 20%;
            }

            div.desc {
                padding: 3%;
                text-align: center;
                color: #595959;
                font-size: 110%;

            }
        }






/*Visualizza Visite-Eventi-Categorie*/


div.containerVisite{
    display: block;
    align-content: center;
    column-count: 2;
    margin-bottom: 2%;
    margin-top: 0.5%;
}

div.galleriaVisite {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 56.25%;
}

div.galleriaVisite img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}

div.cartolina{
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;
    text-align: center;
    break-inside: avoid-column;
    border-left: 10px whitesmoke;
    border-right: 10px whitesmoke;
    border-top: 8px whitesmoke;
    background-color: whitesmoke;
    border-bottom: transparent;
    border-style: solid;

    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.cartolina:hover {
    animation-name: brightnessHover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes brightnessHover {
    from{filter:brightness(100%)}
    to{filter:brightness(75%)}
}

div.descVisite {
    width: 100%;
    height: auto;
    padding: 3%;
    text-align: center;
    font-size: 150%;
    cursor: pointer;
    color: #595959;
}

div.title{
    text-align: center;
    padding: 0.1%;
    font-size: 200%;
    color: #595959;
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {

    div.containerVisite {
    margin-top: 1%;
    }

    div.cartolina{
        margin-bottom: 10%;
    }

    div.descVisite {
        font-size: 130%;
    }
}


@media (max-width: 600px) {

    div.containerVisite{
        column-count: 1;
    }

    div.cartolina{
        width: 80%;
        margin-left: 10%;
    }

    div.title{
        font-size: 175%;
        margin-bottom: 2%;
    }

    div.descVisite {
        font-size: 145%;
    }

}


    @media (max-width: 480px) {
        div.title{
            font-size: 140%;
            margin-bottom: 3%;
        }

        div.descVisite {
            font-size: 120%;
        }

    }



/*LOGIN*/

div.login{
    margin: 2% 7% 5%;
    background-color: #F3EDE7;
    color: #595959;
    width: 17em;
    height: auto;
    float:right;
    padding: 2% 3% 3%;
    border-radius: 5%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 120%;
    position: relative;
    opacity: 90%;
}



@media (max-width: 460px)
{

    div.login{
        margin: 2% 5% 5%;
        width: 90%;
        float:none;
    }

}



/*REGISTRAZIONE e MODIFICA PROFILO*/

div.registrazione{
    margin: 1.5% 3% 4%;
    background-color: #F3EDE7;
    color: #595959;
    width: 20em;
    height: auto;
    float:right;
    padding: 1% 4.5% 3%;
    border-radius: 5%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 100%;
    position: relative;
    opacity: 90%;
}



.checkForm .checkFormText {
    visibility: hidden;
    background-color: #595959;
    color: whitesmoke;
    text-align: center;
    border-radius: 6%;
    padding: 2%;
    position: absolute;
    z-index: 1;
    width: 70%;
    bottom: 50%;
    right:105%;
    opacity: 0;
    transition: opacity 0.3s;
}

.checkForm .checkFormText::after {
    content: "";
    position: absolute;
}

.checkForm:hover .checkFormText {
    visibility: visible;
    opacity: 1;
}


@media (max-width: 700px) {


    .checkForm .checkFormText {
        width: 100%;
        bottom: 80%;
        right: 0;
        font-size: 70%;
    }
}


@media (max-width: 400px) {

    div.registrazione {
        margin: 1.5% 3% 4%;
        width: 96%;
        float: none;
    }

}





/*Visualizza Elemento*/

hr#hrElemento{
   position:relative;
    left:-2%;
    width: 102%;
}

h1.titleEvent{
  text-align: center;
    font-size: 250%;
}

br.space1050{
    display: none;
}


br.space850{
    display: none;
}

br.space768{
    display: none;
}

br.space600{
    display: none;
}

br.space480{
    display: none;
}

br.space350{
    display: none
}


div.containerElemento{
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
    color: #595959;
    overflow: hidden;
}

div.containerElemento img{
    float:left;
    margin-right: 2%;
    border: 10px;
    width: 45%;
    height: auto;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 644px;
    max-height: 363px;
    background-color: whitesmoke;
}

div.scegliElemento{
    color: #595959;
    width: 100%;
    height: auto;
    margin: 2% 2% 1%;
    float:bottom;
}



@media (max-width: 1050px) {
    br.space1050{
        display: block;
    }
}


@media (max-width: 850px) {
    br.space1050{
        display: none;
    }

    br.space850{
        display: block;
    }
}

@media (max-width: 768px) {

    div.containerElemento img {
        float: none;
        margin-right: 10%;
        margin-left: 10%;
        width: 80%;
    }

    br.space768 {
        display: block;
    }


}

    @media (max-width: 600px) {


        br.space1050{
            display: block;
        }

        br.space600{
            display: block;
        }

    }



@media (max-width: 480px) {

    h1.titleEvent{
        font-size: 170%;
    }

    div.containerElemento img {
        margin-right: 5%;
        margin-left: 5%;
        width: 90%;
    }

    br.space480{
        display: block;
    }


    @media (max-width: 350px) {

        br.space350{
        display: block}
    }
}






/*Modifica Recensione */

br.space400{
    display: none;
}

br.space530alt{
    display: none;
}

div.modRec{
    margin-left: 5%;
    margin-right: 5%;
}

textarea#textRec{
    resize: none;
    width:60%;
}

h1.titleRec{
    text-align: center;
    font-size: 250%;
}

input#inputRec{
    margin-right: 3%;
}

@media (max-width: 768px){

    textarea#textRec{
        width:75%;
    }

    h1.titleRec{
        font-size: 175%;
    }
}


@media (max-width: 530px) {

    textarea#textRec {
        width: 90%;
    }

    br.space530alt{
        display: block;
    }
}




/*Carrello E Riepilogo Acquisti*/

h1.titleBuy{
    text-align: center;
    font-size: 250%;
}

div.cart{
    width: 96%;
    height: auto;
    margin: 3% 2%;
    padding: 2% 2% 3%;
    border: 6px solid #8c7c68;
    border-radius: 4%;
}

div.cart img{
    float: left;
    width: 20%;
    height: auto;
    margin-right: 3%;
    min-width: 231px;
    min-height: auto;
}

div.cart ul{
    column-count: 2;
}

img.carrello{
    width: 50%;
    height: auto;
    margin-left:25%;
}


img.riepilogo{
    width: 40%;
    height: auto;
    margin-left:30%;
}

p.prezzoTotale{
    font-size:2em;
    float:left;
    margin-left: 6%;
    margin-top: 0%;
    width: 50%;
}

button.acquista{
    float: right;
    margin-right: 6%;
    margin-top:0%;
    margin-bottom: 2%;
    font-size: 2em;
}


@media (max-width: 768px) {

    div.cart{
        width: 98%;
        margin: 3% 1%;
        padding: 1% 1% 2%;
    }

    div.cart img{
        height: auto;
        margin-right: 2%;

    }

    div.cart ul{
        column-count: 1;
    }
}


@media (max-width: 600px) {

    div.cart{
        margin: 1% 1%;
        padding: 1% 1% 0 1%;
    }

    div.cart ul{
        font-size: 80%;
    }


    div.cart img{
        height: auto;
        margin-right: 1%;

    }

    h1.titleBuy{
        font-size: 200%;
    }
}

@media (max-width: 530px)
{

    div.cart img{
        display: none;
    }

    div.cart ul{
        font-size: 100%;
    }

    p.prezzoTotale{
        font-size:1.2em;
    }

    button.acquista{
        font-size: 1.2em;
    }

    h1.titleBuy{
        font-size: 150%;
    }

    br.space530{
        display: none;
    }

}




/*Sul Castello*/


h1.titleInf{
    text-align: center;
    font-size: 300%;
}

div.sulCastello{
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
    height: auto;
    padding-top: 1.5%;
    padding-bottom:1.5%;
    font-size: 123%;
    overflow: hidden;
}


div.sulCastello img{
    width:25% ;
    height: auto;
    min-width: 322px;
}



div.mapText{
    margin-left: 25%;
    margin-bottom: 5%;
    width: 50%;
    text-align: center;
}

div.maps{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 66.67%;
}

iframe.google{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}


@media (max-width: 768px) {
    div.sulCastello{
        font-size: 100%;
    }

    div.sulCastello img{
        width:25% ;
        height: auto;
        min-width: 225px;
    }


    div.mapText{
        margin-left: 20%;
        width: 60%;
    }
}

@media (max-width: 600px) {
    div.sulCastello img {
        float: none !important;
        width: 70%;
        align-content: center;
        margin-left: 15% !important;
        margin-right: 15% !important;
    }

    div.sulCastello {
        font-size: 120%;
    }


    div.mapText{
        margin-left: 15%;
        width: 70%;
    }
}

    @media (max-width: 480px){
        div.sulCastello img {
            width: 84%;
            align-content: center;
            margin-left: 8% !important;
            margin-right: 8% !important;
        }
        div.sulCastello {
            font-size: 108%;
        }

        div.mapText{
            margin-left: 10%;
            width: 80%;
        }
}



/*Profilo*/
div.profilo {
    margin: 1.5% 2% 4%;
    background-color: #F3EDE7;
    color: #595959;
    width: 25em;
    height: auto;
    float: left;
    padding: 1% 2% 3%;
    border-radius: 5%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 100%;
    position: relative;
    opacity: 90%;
}

@media (max-width: 500px){

    div.profilo {
        margin: 8% 3% 4%;
        width: 94%;
        float: none;
    }
}

@media (max-width: 370px){
    div.profilo {
        margin: 9% 3% 4%;
        font-size: 80%;
    }
}




/*Area Admin*/

h1.titleAdmin{
    margin-top: 3%;
  text-align: center;
  font-size: 250%;
}

button.buttonAdmin{
    margin-bottom: 3%;
}

div.adminHome{
    display: block;
    column-count: 3;
    width: 98%;
    margin:1%;

    text-align: center;
}

div.adminElementCat{
    width: 94%;
    break-inside: avoid-column;
    margin: 5% 3% 12%;
    float: left;
}

a.linkBack{
    float: right;
    margin-right: 3%;
}

@media (max-width: 768px){

    div.adminHome{
        column-count: 2;
        text-align: center;
    }

    textarea#adminAgg{
        width: 90%;
    }

    a.linkBack{
        font-size: 90%;
    }
}


@media (max-width: 480px){

    div.adminHome{
        column-count: 1;
        text-align: center;
    }
    h1.titleAdmin{
        font-size: 200%;
    }

    a.linkBack{
        font-size: 80%;
    }
}

textarea.adminAgg{
   width: 60%;
    resize: none;
}


div.adminAggiungi{
    margin: 5% 3% 3%;
    padding: 2%;
}


div.adminAggiungi fieldset
{
    border-radius: 8%;
}


div.adminAggiungi img{
    width: 373px;
    height: 210px;
}

@media (max-width: 768px)
{
    textarea.adminAgg{
        width: 80%;
    }
}

@media (max-width: 480px) {
    div.adminAggiungi {
        margin: 8% 3% 3%;
    }

    textarea.adminAgg {
        width: 90%;
    }

    div.adminAggiungi img {
        width: 300px;
        height: 169px;
    }
}
    @media (max-width: 400px){
        br.space400{
            display: block;
        }
}

